<div id="sb-qc-topic-container">
    <div class="drawer-form-item">
        <label for="hw-qc-server-name">Location</label>
        <select id="hw-qc-share-server" name="selectedLocation" data-fxcontroltype="fxDropdown" data-val="true"
                data-val-required="Please provide location name"></select>
    </div>

    <div class="drawer-form-item">
        <label for="hw-qc-share-name">Container Name</label>
        <input id="hw-qc-share-name" name="containerName" type="text" data-val="true"
               data-val-waznospecialchars="The field must not contain special characters"
               data-val-required="Please provide container name"
               data-val-length="The field must be a string between 3 and 64 characters"
               data-val-length-max="64"
               data-val-length-min="3" />
    </div>
 </div>
