<div class="ss-container-info">
    <p class="aux-dialogHeader" data-automationid="aux-dialog-header">{{>data.resources.header}}</p>
    <p class="aux-dialogSubHeader">{{>data.resources.subHeader}}</p>
    <div class="aux-readonlyvalue">
        <span>{{>data.resources.nameLabel}}</span>
        <div>{{>data.name}}</div>
    </div>
    <div class="aux-readonlyvalue">
        <span>{{>data.resources.subscriptionLabel}}</span>
        <div>{{>data.subscription}}</div>
    </div>
    <div class="aux-readonlyvalue">
        <span>{{>data.resources.urlLabel}}</span>
        <div>{{>data.url}}</div>
    </div>
</div>
