<div id="sb-qc-topic-folder">
    <div class="drawer-form-item">
        <label for="hw-qc-share">Share</label>
        <select id="hw-qc-share" name="selectedShare" data-fxcontroltype="fxDropdown" data-val="true"
                data-val-required="Please choose share name"></select>
    </div>

    <div class="drawer-form-item">
        <label for="hw-qc-subscription">Subscription</label>
        <select id="hw-qc-subscription" name="selectedSubscription" data-fxcontroltype="fxDropdown" data-val="true"
                data-val-required="Please choose subscription name"></select>
    </div>

    <div class="drawer-form-item">
        <label for="hw-qc-folder">Folder Name</label>
        <input id="hw-qc-folder" name="folderName" type="text" data-val="true"
               data-val-waznospecialchars="The field must not contain special characters"
               data-val-required="Please provide folder name"
               data-val-length="The field must be a string between 3 and 64 characters"
               data-val-length-max="64"
               data-val-length-min="3" />
    </div>
 </div>
